 
	<div id="bodycont" class="row">
		<div id="leftsidecont" class="col-xl-3 col-md-6 order-2 order-md-1">
			<div class="innerside">
				{SETSTYLE=sidebar}
                {DEFAULT_MENUAREA=1}
				{MENU=1}
			</div>
		</div>
		<div id="sidecont" class="col-xl-3 col-md-6 order-3  order-md-3">
			<div class="innerside">
				{SETSTYLE=sidebar}
                {DEFAULT_MENUAREA=2}
				{MENU=2}
			</div>
		</div>
		<div class="maincont  col-xl-6 col-md-12   order-1 order-md-1">
			<div class="padmaincont">
				{SETSTYLE=topmenu}
				{WMESSAGE}
				{ALERTS}
				{MENU=3}
                {DEFAULT_MENUAREA3}
				{SETSTYLE=default}
				{---}
				{SETSTYLE=bottommenu}
				{MENU=4}
			</div>
		</div>
	</div>
 