 

	<div id="bodycont" class="row">
		<div id="leftsidecont" class="col-xl-3 col-md-4 col-xs-12 order-2 order-md-1">
			<div class="innerside">
				{SETSTYLE=sidebar}
				{DEFAULT_MENUAREA=1}
				{MENU=1}
				{SETSTYLE=sidebar}
				{DEFAULT_MENUAREA=2}
				{MENU=2}
			</div>
		</div>
		<div class="maincont  col-xl-9 col-md-8 col-xs-12 order-1 order-md-1">
			<div class="padmaincont">
				{ALERTS}
				{SETSTYLE=topmenu}
				{DEFAULT_MENUAREA3}
				{MENU=3}
				{SETSTYLE=default}
				{---}
				{DEFAULT_MENUAREA4}
				{SETSTYLE=bottommenu}
				{MENU=4}
			</div>
		</div>
	</div>
 