<section class="pagetitle parallax parallax-image" {LAYOUT_BGIMAGE: template=cssimage}">
	<div class="wrapsection" style="background-image:url({THEME}/assets/img/pattern.png);background-repeat:repeat;">
		<div class="overlay" style="background:#303543; opacity:0.6;">
		</div>
		<div class="container">
			<div class="parallax-content">
				<div class="block2 text-center max80" style="color:#fff;">
					<h1>
					<span class="text1 big wow bounceIn" data-wow-delay="0s" data-wow-duration="1s">
						{LAYOUT_ELEMENT: element=maintitle}
					</span>
					</h1>
					<h2>
					<span class="text2 big wow zoomIn" data-wow-delay="0.4s" data-wow-duration="2s">
						{LAYOUT_ELEMENT: element=subtitle}
					</span>
					</h2>
					<a href="#contact" class="downarrowpoint wow zoomIn goscroll" aria-label='Contact form'><i class="fa fa-angle-double-down"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
 
{ALERTS}
{SETSTYLE=main}
<div id="contact">
{---}
</div>
{LAYOUT_ELEMENT: element=googlemap}
 
 