<section>
 <div class="carousel business_carousel slide bgmove">
   <div class="carousel-inner">
	   <div class="item active">
		   <div class="slider-bg darker-span">
			   <img class="kenburnsreverse" src="{LAYOUT_BGIMAGE: template=src}" alt="slider">
		   </div>
		   <div class="slider_overlay">
		   </div>
		   <div class="container">
			   <div class="row">
				   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
					   <div class="carousel-content">
						   <div class="slider-thumb animated1">
							   <h1><b>{---CAPTION---}</b></h1>
						   </div>
						   <a href="#startcontent" aria-label="Content section" class="downarrowpoint wow zoomIn goscroll"><i class="fa fa-angle-double-down"></i></a>
					   </div>
				   </div>
			   </div>
		   </div>
	   </div>
   	</div>
   </div>
</section>
{ALERTS}
{SETSTYLE=none}
{MENUAREA=10}
{SETSTYLE=main}
<div id="startcontent">
{---}
</div>
{SETSTYLE=none}
{MENUAREA=11}
 