<section class="pagetitle parallax parallax-image" {LAYOUT_BGIMAGE: template=cssimage}">
	<div class="wrapsection">
		<div class="overlay" style="background:#303543;opacity:0.7;">
		</div>
		<div class="container">
			<div class="parallax-content">
				<div class="block2 text-center" style="padding:20px 0;color:#fff;">
					<h2>
						<span class="text1 big wow bounceIn" data-wow-delay="0s" data-wow-duration="1s">
							<b>{---CAPTION---}</b>
						</span>
					</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="page-wrapper">
	<div class="container">

		{ALERTS}
		{SETSTYLE=main}
		{---}

	</div>
</section>