{SETSTYLE=default}
<div class="{THEME_PREF: name=body_class&default=container} main-section flex-grow-1 overflow-auto">
  {ALERTS}
  <div class="row">
    <div  class="col-xs-12 col-sm-6 col-md-3">
      {SETSTYLE=menu}
      {MENU=1}
      {DEFAULT_MENUAREA=1}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">	      
    {---}      
    </div>
    <div class="bg-dark col-xs-12  col-sm-6 col-md-3">
      {SETSTYLE=menu}
      {MENU=2}
      {DEFAULT_MENUAREA=2}
    </div>    
  </div>
</div>

