      <!-- ============================================-->
      <!-- <section> begin ============================-->
		<section class="p-0" id="home">

			<div class="container-fluid p-0 minh-100vh">
			  <div class="position-relative px-3 w-lg-50 position-lg-absolute" id="baseContent">
				<div class="row align-items-center minh-50vh justify-content-center py-5 minh-lg-100vh">
				  <div class="bg-holder overlay overlay-1" style="background-image:url({THEME}/assets/img/home-blur.jpg);">
				  </div>
				  <!--/.bg-holder-->
	
				  <div class="col-10 col-sm-8 col-md-9 z-index-1">
					  {WMESSAGE}
				  </div>
				</div>
			  </div>
			  <div class="position-relative w-lg-50 position-lg-fixed undefined" id="gridNav">
				<div class="row h-lg-100vh">
					{CHAPTER_MENUS: name=boots&template=boot-navigation}
				</div>
			  </div>
			</div>
			<!-- end of .container-->
	
		  </section>
		  <!-- <section> close ============================-->
		  <!-- ============================================-->
		  {CMENU=about}
		  {CHAPTER_MENUS: name=boots}
		  {---}
  
  



 
