      <!-- ============================================-->
      <!-- <section> begin ============================-->
		<section class="p-0" id="home">

			<div class="container-fluid p-0 minh-100vh">
			  <div class="position-relative px-3 w-lg-50 position-lg-absolute" id="baseContent">
				<div class="row align-items-center minh-50vh justify-content-center py-5 minh-lg-100vh">
					{SETSTYLE=default} 
				  <div class="col-10 col-sm-8 col-md-9 z-index-1">
					
                    
					  {---}
				  </div>
				</div>
			  </div>
			  <div class="position-relative w-lg-50 position-lg-fixed undefined" id="gridNav">
				<div class="row h-lg-100vh">
                    {BOOK_CHAPTERS: name=homepage&template=boot-navigation&limit=8}
				</div>
			  </div>
			</div>
			<!-- end of .container-->
	
		  </section>
		  <!-- <section> close ============================-->
		  <!-- ============================================-->
		  {BOOK_CHAPTERS: name=homepage&template=boot-content&limit=8}
		  
  
  



 
