<div id="bodybar" class="container-fluid">
	<div id="bodycont" class="row">
		<div id="leftsidecont" class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
			<div class="innerside">
				{SETSTYLE=sidebar}
				{MENU=1}
			</div>
		</div>
		<div id="sidecont" class="col-md-3 col-sm-6  col-md-push-6 col-xs-6 col-xxs-12">
			<div class="innerside">
				{SETSTYLE=sidebar}
				{MENU=2}
			</div>
		</div>
		<div id="maincont" class="col-md-6 col-sm-12  col-md-pull-3 col-xs-12 col-xxs-12">
			<div class="padmaincont">
				{SETSTYLE=topmenu}
				{WMESSAGE}
				{ALERTS}
				{MENU=3}
				{SETSTYLE=default}
				{---}
				{SETSTYLE=bottommenu}
				{MENU=4}
			</div>
		</div>
	</div>
</div>