<!-- Contact
================================================== -->
<section class="split">
<div class="col-md-6" style="min-height:420px;background-size:cover;background-image:url(http://themepush.com/demo/cayman/assets/img/demo/tr2.jpg);">
	<div class="overlay darkbgcolor" style="opacity:0.4;">
	</div>
</div>
<div class="col-md-6 darkbgcolor text-center" style="min-height:420px;padding-top:8%;">
	<div class="overlay darkbgcolor" style="opacity:0.9;">
	</div>
	<div class="thetext">
		<i class="fa fa-tint fa-3x"></i>
		<h2 class="title" style="line-height:1.8;">5722 <b>Thunder Panda</b> Meadow<br/>
		<span style="border-top:1px solid;border-bottom:1px solid;padding:5px 0;margin:5px 0;display:inline-block;">Pense, Nunavut, X8Q-6F2, CA</span><br/>
		(867) 422-5981</h2>
	</div>
</div>
</section>