<!-- Features
================================================== -->
<section class="page-wrapper gray">
<div class="container">
	<div class="row">
		<div class="col-md-4 feature business wow zoomIn" data-wow-duration="0.8s" data-wow-delay="0.1s">
			<div class="feature-content">
				<h3><i class="fa fa-life-ring"></i>Nunc sollicitudin</h3>
				<p>
					 The most flexible and complete theme. A theme that is optimized for search engines, endless options. And if you get stuck, Cayman offers support.
				</p>
			</div>
		</div>
		<div class="col-md-4 feature business wow zoomIn" data-wow-duration="0.8s" data-wow-delay="0.2s">
			<div class="feature-content">
				<h3><i class="fa fa-flask"></i>ultricies felis</h3>
				<p>
					 Choose from multiple unique designs Cayman offers. You won't look for a new theme any time soon. User-friendly grid, based on the super popular Bootstrap.
				</p>
			</div>
		</div>
		<div class="col-md-4 feature business wow zoomIn" data-wow-duration="0.8s" data-wow-delay="0.3s">
			<div class="feature-content">
				<h3><i class="fa fa-bullhorn"></i>accumsan mollis</h3>
				<p>
					 Wide range of out of the box solutions. You can actually build any kind of website with Cayman. Personalize your site without design skills.
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 feature business wow zoomIn" data-wow-duration="0.8s" data-wow-delay="0.4s">
			<div class="feature-content">
				<h3><i class="fa fa-star"></i>metus elementum</h3>
				<p>
					 The most flexible and complete theme. A theme that is optimized for search engines, endless options. And if you get stuck, Cayman offers support.
				</p>
			</div>
		</div>
		<div class="col-md-4 feature business wow zoomIn" data-wow-duration="0.8s" data-wow-delay="0.5s">
			<div class="feature-content">
				<h3><i class="fa fa-flash"></i>placerat feugiat</h3>
				<p>
					 Choose from multiple unique designs Cayman offers. You won't look for a new theme any time soon. User-friendly grid, based on the super popular Bootstrap.
				</p>
			</div>
		</div>
		<div class="col-md-4 feature business wow zoomIn" data-wow-duration="0.8s" data-wow-delay="0.6s">
			<div class="feature-content">
				<h3><i class="fa fa-microphone"></i>vehicula hendrerit</h3>
				<p>
					 Wide range of out of the box solutions. You can actually build any kind of website with Cayman. Personalize your site without design skills.
				</p>
			</div>
		</div>
	</div>
</div>
</section>