<!-- Team
================================================== -->
<section class="page-wrapper gray wow zoomIn">
<div class="container">
	<h2 class="title">Our Staff</h2>
	<p class="tagline">
		 Always and forever at your Service
	</p>
	<div class="row team-wrap">
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="team-boxes">
				<div class="team-thumb overlay-image view-overlay">
					<img src="http://themepush.com/demo/cayman/assets/img/demo/business5.jpg" alt="">
					<div class="clear">
					</div>
					<div class="mask team_quote">
						<div class="port-zoom-link">
							<p>
								<span class="accentcolor" style="font-weight:700;">MOTTO</span><br/>
								<i>"All the world's a stage<br/>And all the men and women merely players"</i>
							</p>
						</div>
					</div>
				</div>
				<div class="team-info">
					<h2>Kathleen Walsh</h2>
					<p>
						 Logistic Stuff
					</p>
				</div>
				<div class="separator">
				</div>
				<div class="team-social">
					<a href=""><i class="fa fa-facebook-square"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-google-plus"></i></a>
					<a href=""><i class="fa fa-linkedin"></i></a>
					<a href=""><i class="fa fa-envelope"></i></a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="team-boxes">
				<div class="team-thumb overlay-image view-overlay">
					<img src="http://themepush.com/demo/cayman/assets/img/demo/business7.jpg" alt="">
					<div class="clear">
					</div>
					<div class="mask team_quote">
						<div class="port-zoom-link">
							<p>
								<span class="accentcolor" style="font-weight:700;">ABOUT ME:)</span><br/>
								"I have all these great genes, but they're recessive"
							</p>
						</div>
					</div>
				</div>
				<div class="team-info">
					<h2>Georgia Mccormick</h2>
					<p>
						 Photographer
					</p>
				</div>
				<div class="separator">
				</div>
				<div class="team-social">
					<a href=""><i class="fa fa-facebook-square"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-google-plus"></i></a>
					<a href=""><i class="fa fa-linkedin"></i></a>
					<a href=""><i class="fa fa-envelope"></i></a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="team-boxes">
				<div class="team-thumb overlay-image view-overlay">
					<img src="http://themepush.com/demo/cayman/assets/img/demo/business6.jpg" alt="">
					<div class="clear">
					</div>
					<div class="mask team_quote">
						<div class="port-zoom-link">
							<p>
								<span class="accentcolor" style="font-weight:700;">SHOULD I QUOTE?</span><br/>
								"It's knowing what needs to be done that brings strength!"
							</p>
						</div>
					</div>
				</div>
				<div class="team-info">
					<h2>Marjorie Watson</h2>
					<p>
						 Marketing
					</p>
				</div>
				<div class="separator">
				</div>
				<div class="team-social">
					<a href=""><i class="fa fa-facebook-square"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-google-plus"></i></a>
					<a href=""><i class="fa fa-linkedin"></i></a>
					<a href=""><i class="fa fa-envelope"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
</section>