<header id="header" class="v1">
  <div class="header-holder bg-light">
    {HTML_HEADER} 
  </div>
  {HTML_FRAGMENT: key=nav-holder} 
  {SITESEARCH}
</header>
<main id="main">

  {SETSTYLE=nocaption}
  {MENUAREA=21}
 
  <!-- aboutus sec of the page -->
  <section class="aboutus-sec bg-light">
  	<div class="container">
  		<div class="row">
                <div class="col-xs-12 col-md-5 col-lg-6">
                    {CMENU=welcomeimage}
                </div>
  			<div class="col-xs-12 col-md-7 col-lg-6">
  				<!-- header of the page -->
                    {WMESSAGE=force}
  			</div>
  		</div>
  
  	</div>
  </section>
  {---}
 
 
  {SETSTYLE=blog-sec}
  {MENUAREA=22}
 
 
</main>

<!-- { HERO: template=slider } --!> 
<!-- { HTML_FRAGMENT: key=slider } --!>