<header id="header" class="wh-clr">
	<div class="header-holder">
		{HTML_HEADER}
	</div>
	{HTML_FRAGMENT: key=nav-holder}
	{SITESEARCH} 
</header>
<main id="main"> 
	<div class="space bg-black"></div>
	<!-- banner of the page -->
	<section class="banner bg-parallax overlay" style="background-image:url({THEME}images/img75.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h2 class="heading text-uppercase fwLight">{---CAPTION---}</h2>
					{---BREADCRUMB---}
				</div>
			</div>
		</div>
	</section>
	<!-- blog sec of the page -->
	{ALERTS}
	{SETSTYLE=main}
	<section class="blog-sec blog-detail container">
		<div class="row">
			<article id="content" class="col-xs-12 col-md-9">

				{---}
			</article>
			<aside id="sidebar" class="col-xs-12 col-md-3">
                {SETSTYLE=sidebar}
				{MENUAREA=1}
			</aside>
		</div>
	</section>
</main>
 